
.tt{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    color: #452727;
    margin-bottom: 30px;
    margin-top: 50px;
    background-color: rgb(185, 179, 179);
    margin-bottom: 40px;
}
.cpn-cont-det-imgr{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cpn-cont-det-imgr img{
    width: 180px;
    height: 120px;
    text-align: center;
}

.cpn-cont-infor{
    font-family: 'Roboto', sans-serif;
    color: #6a4040;
    display: flex;
    font-weight: 500;
    height: 80px;
}

.cpn-cont-info-heartr img{
    width: 20px;

    cursor: pointer;
    margin-left: 150px;
}

.cpn-cont-info-heart{
    height: 40px;
}

.cpn-cont-info-heartr img:hover{
    cursor: pointer;
    transform: scale(1.8);
    transition: 0.3s;
}   


.cpn-cont-detr{
    background-color: antiquewhite;
    padding: 0px 8px 0 8px;
    border: 2px solid rgb(219, 149, 149);
    box-shadow: 5px 5px 5px rgb(221, 213, 213);
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-radius: 10px;
    width: 180px;
    height:240px ;
}

.cpn-cont-detr:hover{
    border: 2px solid rgb(24, 24, 23);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}


.region-container{
    display: grid;
    grid-template-columns:  200px 200px 200px 200px 200px;
    column-gap: 80px;
    justify-content: center;
}