.tp{
    padding: 10px 50px;
    background-color: #452727;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    font-size: 18px; 
}

a{
    text-decoration: none;
}
.tp:hover{
    background-color: #dd2400;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;

}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #452727;
     position: fixed;
    width: 100%;
    top: 65px;
}
